<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FORMACIÓN ACADÉMICA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
  
  
  <ion-card>
    <ion-list>
      <ion-label>
        PRIMARIA
      </ion-label>
      <ion-item>
        <ion-icon style="font-size: 30px; padding: 7px;" name="school-outline" color="primary" ></ion-icon>
        <ion-label >
          <ion-label color="medium" class="ion-text-wrap"> Escuela Fiscal Mixta Vicente Rocafuerte</ion-label>
        </ion-label>
      </ion-item>
  
      <ion-label>
        SECUNDARIA
      </ion-label>
      <ion-item>
        <ion-icon style="font-size: 30px; padding: 7px;" name="school-outline" color="primary" ></ion-icon>
        <ion-label >
          <ion-label color="medium" class="ion-text-wrap"> Unidad Educativa FIiscal  "Guayaquil"</ion-label>
        </ion-label>
      </ion-item>
      <ion-label>
        ESPECIALIZACIÓN
      </ion-label>
      <ion-item>
        <ion-icon style="font-size: 30px; padding: 7px;" name="school-outline" color="primary" ></ion-icon>
        <ion-label >
          <ion-label color="medium" class="ion-text-wrap"> Técnico-Polivalente INFORMÁTICA</ion-label>
        </ion-label>
      </ion-item>
      <ion-label>
        TÍTULO OBTENIDO
      </ion-label>
      <ion-item>
        <ion-icon style="font-size: 30px; padding: 7px;" name="school-outline" color="primary" ></ion-icon>
        <ion-label >
          <ion-label color="medium" class="ion-text-wrap"> Bachiller de la República del Ecuador</ion-label>
        </ion-label>
      </ion-item>



      <ion-label>
        UNIVERSITARIOS
      </ion-label>
      <ion-item>
        <ion-icon style="font-size: 30px; padding: 7px;" name="school-outline" color="primary" ></ion-icon>
        <ion-label >
          <ion-label color="dark">UNIVERSIDAD DE GUAYAQUIL</ion-label>
          <ion-label color="dark" class="ion-text-wrap">Cursando sexto semestre</ion-label>
          <ion-label color="medium" class="ion-text-wrap"> carrera: Ingeniería en Sistemas de Información</ion-label>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>


</div>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
