<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CURRICULUM VITAE
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Datos Personales</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="ion-text-center">
  
    <ion-card>
      
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/0cf229b9-e784-40c9-a270-b389a01cc483.jpg">
        </ion-thumbnail>
        <ion-label ><h1>William Adrian </h1>
          <h1>Bonilla Bohorquez</h1></ion-label>
      </ion-item>
    </ion-list>
  
  
    <ion-card>
      <ion-card-content>
        Soy una persona innovadora, responsable con las actividades que me asignan.
      </ion-card-content>
    </ion-card>
  
  
    <ion-list>
      <ion-item >
        <ion-label >
          <ion-label color="dark">Documento de Identidad:</ion-label>
          <ion-label color="medium" class="ion-text-wrap">0951565068</ion-label>
        </ion-label>
      </ion-item>

      <ion-item >
        <ion-label >
          <ion-label color="dark">Fecha de Nacimiento:</ion-label>
          <ion-label color="medium" class="ion-text-wrap">29 de septiembre de 1999</ion-label>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label >
          <ion-label color="dark">Lugar de Ncimiento:</ion-label>
          <ion-label color="medium" class="ion-text-wrap">GUAYAQUIL</ion-label>
        </ion-label>
      </ion-item>
 
      
  
      <ion-item>
      
        <ion-label >
          <ion-label color="dark">Correo electrónico:</ion-label>
          <ion-label color="medium" class="ion-text-wrap"> wbonillabo@ug.edu.ec</ion-label>
        </ion-label>
      </ion-item>


      <ion-item >
        <ion-label >
          <ion-label color="dark">Licencia de Conducir:</ion-label>
          <ion-label color="medium" class="ion-text-wrap">Categoría No Profesional- Tipo B</ion-label>
        </ion-label>
      </ion-item>
    </ion-list>
  
  
    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-badge slot="end">22</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Estado civil:</ion-label>
      <ion-badge slot="end">Soltero</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Nacionalidad:</ion-label>
      <ion-badge slot="end">Ecuatoriana</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon style="font-size: 30px; padding: 7px;" name="location-outline" color="primary" ></ion-icon>
      <ion-label >
        <ion-label color="dark">Dirección:</ion-label>
        <ion-label color="medium" class="ion-text-wrap"> Guasmo Sur Coop: Puerto Licita Mz 3428 Villa # 2</ion-label>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-icon style="font-size: 30px; padding: 7px;" name="call-outline" color="primary" ></ion-icon>
      <ion-label >
        <ion-label color="dark">Teléfono;</ion-label>
        <ion-label color="medium" class="ion-text-wrap">0993802266</ion-label>
      </ion-label>
    </ion-item>
  </ion-card> 
  
  
  
  
  </div>
  

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
